# CaledonEngine gitignore settings

# User-specific Visual Studio options & caches
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# C++ Build & Intermediate Output Folders
[Bb]uild/
Intermediate/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Oo]bj/
[Oo]ut/
ipch/

# Dependency / Cache Artifacts
*.json
*.command
*.tlog
*.log
*.cache

# IDE / Code Editor Tooling
.vscode/